<!DOCTYPE html>
<html lang="zh-CN">
    <head>
<title>Hello Page</title>
    </head>
    <body>
    <!-- 表示go传递过来的变量 -->
        <p>name= {{ .Name }}</p>
        <p>age= {{ .Age }}</p>
    </body>
</html>